.container {
  background-color:rgb(43, 43, 43);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:  5rem;
  gap: 1rem;
}

.Input{
  font-size: 14;
  color: rgb(99, 99, 99);
  background-color:#f4f4f4;
  padding: 0.6rem;
  resize: 'none';
  width: 400px;
  min-Height: 100px;
  resize: none;
  overflow: hidden;
  border-radius: 5px;
}

.suggestions { 
  color: rgb(67, 67, 67);
  padding: 5px;
  cursor: pointer;
}

.button {
  background-color: rgb(239, 108, 219);
  padding: 0.5rem 2rem;
  margin-left: 20rem;
  border-radius: 5px;
}

.post {
  background-color:#f4f4f4;
  width: 400px;
  min-Height: 100px;
  padding: 1rem;
  border-radius: 5px;
  margin: 1rem 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.postContent {
  color: rgb(99, 99, 99);
  font-size: 14;
}

.line {
  color: rgb(99, 99, 99);
  border-width: 0.2px;
  width: 24rem;
}

.userView {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.userIcon {
  background-color: rgb(253, 104, 149);
  padding: 0.25rem 0.65rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.userView2 {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.user {
  color: rgb(99, 99, 99);
  font-size: 14px;
}

.time {
  color: rgb(99, 99, 99);
  font-size: 10px;
}
